
          

<label class="theme-toggle" *ngIf="isLoggedIn" >
  <input
    type="checkbox"
    [checked]="theme === 'dark'"
    (change)="toggleTheme($event)"
  />

  <span class="slider2">
    <span class="icon sun">☀️</span>
    <span class="icon moon">🌙</span>
  </span>
</label>


<div class="login-box" *ngIf="!isLoggedIn">

  <h2 class="login-title">Admin Login</h2>

  <div class="input-group">
    <label>Username</label>
    <input type="text" [formControl]="loginUserCtrl" />
  </div>

  <div class="input-group">
    <label>Password</label>
    <input type="password" [formControl]="loginPassCtrl" />
  </div>

  <button class="login-btn" (click)="login()">Login</button>

  <p class="error" *ngIf="loginError">{{ loginError }}</p>
</div>


<div *ngIf="isLoggedIn" class="settings-layout">


  <div class="settings-card">
    <h3 class="section-title">Communication </h3>

    <div class="section-content">

      <div class="input-group">
        <label>Select Mode</label>
        <select [formControl]="modeCtrl">
          <option value="serial">Serial Port</option>
          <option value="ip">IP Address</option>
        </select>
      </div>

      <div *ngIf="modeCtrl.value === 'serial'" class="mode-content">
        <div class="input-group">
          <label>Select Serial Port</label>
          <select
            [formControl]="serialPortCtrl"
            (change)="onSerialPortChange($event)">
            <option
              *ngFor="let port of serialPorts$ | async"
              [ngValue]="port">
              {{ port.path }}
            </option>
          </select>
        </div>

        <button class="refresh-btn" (click)="onRefreshClick()">⟳</button>
      </div>

<div *ngIf="modeCtrl.value === 'ip'" class="mode-content">

  <div class="input-group">
    <label>Enter IP Address</label>


    <!-- <input
      type="text"
      placeholder="192.168.1.50"
      [formControl]="ipAddressCtrl"
      [disabled]="isIpConnected" /> -->

<input
  type="text"
  placeholder="192.168.1.50"
  [value]="displayIp"
  (input)="onIpInput($event)"
  [disabled]="isIpConnected" />





  </div>

  <button
    class="connect-btn"
    [class.disconnect]="isIpConnected"
    (click)="onConnectIP()">

    {{ isIpConnected ? 'Disconnect' : 'Connect' }}

  </button>

</div>


    </div>

    

  </div>

    <div class="settings-card">

          <h3 class="section-title">Automation</h3>


     <div class="section-content">

      <div
        class="auto-detect-box"
      >

        <label>Show last files</label>

         <div class="auto-detect-row">
                  <input
          type="number"
          [value]="autoDetectValue"
          (change)="onAutoDetectFilesChange($event)" />


<button
  class="save-btn"
  *ngIf="showSaveIcon"
  title="Save"
  (click)="onSaveAutoDetectClick()"
>
  <img src="assets/icons/save.png" alt="Save" />
</button>


    

    

         </div>



     

      </div>




       <div class="auto-detect-box toggle-box">

  <label class="toggle-text">
    Auto sent Files
  </label>

  <label class="toggle-switch">
    <input
      type="checkbox"
      [checked]="autosent"
      (change)="autosentfile($event)" />
    <span class="slider"></span>
  </label>

</div>







    </div>
    </div>

    <div class="settings-card" >
    

    <h3 class="section-title">Spectrom module</h3>


         <div class="section-content">

    
<div class="spectrom-row">

  <div class="input-group spectrom-select">
    <label>Machine Type</label>
    <select
      class="custom-select"
      [value]="pendingMachineType ?? selectedMachineType"
      (change)="onSpectromChange('machine', $event)">
      <option value="" disabled>Select machine</option>
      <option value="Amtex Dia">Amtex Dia</option>
      <option value="Amtex New">Amtex New</option>
      <option value="ARL iSPARK">ARL iSPARK</option>
    </select>
  </div>

  <div class="input-group spectrom-select">
    <label>File Type</label>
    <select
      class="custom-select"
      [value]="pendingFileType ?? selectedFormat"
      (change)="onSpectromChange('format', $event)">
      <option value="" disabled>Select file type</option>
      <option value="XML">XML</option>
      <option value="TXT">TXT</option>
      <option value="BAK">BAK</option>
      <option value="CSV">CSV</option>
      <option value="PDF">PDF</option>
    </select>
  </div>

  <!-- SAVE ICON -->
  <button
    class="save-btn2"
    *ngIf="showSpectromSave"
    title="Save"
    (click)="onSaveSpectromClick()">
    <img src="assets/icons/save.png" alt="Save" />
  </button>

</div>





 

    </div>


  </div>

  <div class="settings-card">
    <h3 class="section-title">Location</h3>

    <div class="section-content location-section">

      <ng-container *ngIf="showSearchDirectory; else editDirectoryTpl">

        <label class="heading">Enter Directory</label>

        <div class="input-container">
          <input
            #directorSearch
            [formControl]="directoryCtrl"
            type="text"
            class="custom-input" />

          <div
            class="save-btn2"
            *ngIf="directoryCtrl.value"
            (click)="clearInput(directorSearch, directoryCtrl)">
                    <mat-icon>
                                                        <img src="./assets/icons/close.png" />

                    </mat-icon>

                   
          </div>
        </div>

        <button
          mat-raised-button
          (click)="onShowFilesClick(true)"
          [disabled]="directoryCtrl.invalid">
          Connect path
        </button>

        <button class="save-btn2"
          mat-icon-button
          matTooltip="Hide Directory"
          (click)="onHideDirectoryClick()">
            <img src="./assets/icons/hide.png" />

         
        </button>

      </ng-container>

      <ng-template #editDirectoryTpl>

        <div class="heading">Change Search Directory</div>

        <div class="location-actions">
          <button
          class="save-btn2" 
            mat-icon-button
            matTooltip="Change Directory"
            (click)="onShowSearchDirectory()">
         
            <img src="./assets/icons/edit.png" />
         
              
           
          </button>

          <button
          class="save-btn2"
            mat-icon-button
            matTooltip="Reload Files"
            (click)="onShowFilesClick(false)">
           
              <img src="./assets/icons/refresh.png" />
            
          </button>
        </div>

        <div *ngIf="filesLoading">Loading ...</div>

      </ng-template>

    </div>
  </div>

</div>


<!-- <div>
  sfdvc
</div> -->

<div *ngIf="isLoggedIn" class="settings-layout">
<div class="settings-card full-width">
  <div class="section-header-row">
<h3 class="section-title-no-border space">
  <span class="header-name">Header Name</span>
  <span class="variations">Variations</span>
</h3>
    <div class="header-actions">

      <!-- <button class="save-btn2" title="Save All">
        <img src="assets/icons/save.png" alt="Save" />
      </button> -->
<button class="save-btn2" title="Save All" (click)="saveAllMappings()">
  <img src="assets/icons/save.png" alt="Save" />
</button>

      <button class="add-btn" title="Add Row" (click)="addRow()">+</button>
    </div>
  </div>

<div class="section-content mapping-container">
  <div class="mapping-container">
    <div class="mapping-row" *ngFor="let item of mappings; let i = index; trackBy: trackByIndex">
      
      <input 
        type="text" 
        [(ngModel)]="item.header" 
        placeholder="Header" 
        class="custom-input mapping-box">
      
      <span class="mapping-arrow">=</span>

      <div class="horizontal-values-wrapper" style="display: flex; align-items: center; gap: 10px;">
        <ng-container *ngFor="let val of item.input; let j = index; trackBy: trackByIndex">
          <input 
            type="text" 
            [(ngModel)]="item.input[j]" 
            placeholder="Input Box" 
            class="custom-input mapping-box">
          
          <span class="mapping-arrow" *ngIf="j < item.input.length - 1"></span>
        </ng-container>

         <button class="add-btn-small mapping-plus-gap" (click)="addValueToRow(i)" title="Add horizontal box">+</button>



      </div>

    </div>
  </div>
</div>


<div class="confirm-overlay" *ngIf="showConfirmPopup">
  <div class="confirm-box">
    <h4>Confirm Save</h4>
    <p>Do you want to save this value?</p>

    <div class="confirm-actions">
      <button class="btn cancel" (click)="cancelSaveAutoDetect()">
        Cancel
      </button>
      <button class="btn confirm" (click)="confirmSaveAutoDetect()">
        Save
      </button>
    </div>
  </div>
</div>

<div class="confirm-overlay" *ngIf="showSpectromConfirm">
  <div class="confirm-box">
    <h4>Confirm Save</h4>
    <p>Do you want to save Spectrom settings?</p>

    <div class="confirm-actions">
      <button class="btn cancel" (click)="cancelSpectromSave()">
        Cancel
      </button>
      <button class="btn confirm" (click)="confirmSpectromSave()">
        Save
      </button>
    </div>
  </div>
</div>


<div class="ui-toast" *ngIf="showToast" [ngClass]="toastType">
  <div class="toast-content">
    <span class="toast-icon"></span>
    <span class="toast-text">{{ toastMsg }}</span>
  </div>
</div>