/* ================= LOGIN BOX ================= */
.login-box {
  width: 350px;
  padding: 25px 30px;
  margin: 80px auto;
  background: #1b1b1b;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.08);
}

.login-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group.small {
  width: 250px;
}

.input-group label {
  color: #bbb;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #444;
  background: #262626;
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: 0.2s ease;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #4a90e2;
  background: #2e2e2e;
}

/* ================= LOGIN BUTTON ================= */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s;
}

.login-btn:hover {
  background: #357ac9;
}

/* ================= ERROR MESSAGE ================= */
.error {
  margin-top: 12px;
  font-size: 14px;
  color: #ff5c5c;
}



/* ================= MODE SELECTION UI ================= */
.mode-container {
    width: 350px;
  padding: 25px 30px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  gap: 20px;
}

.mode-content {
  display: flex;
  align-items: center;
  gap: 15px;
}


/* ================= SERIAL REFRESH BUTTON ================= */
.refresh-btn {
  background: #333;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.refresh-btn:hover {
  background: #444;
}

/* ================= IP CONNECT BUTTON ================= */
.connect-btn {
  padding: 12px 20px;
  border: none;
  background: #4a90e2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.connect-btn:hover {
  background: #357ac9;
}



/* ================= RESPONSIVE ================= */
@media (max-width: 500px) {
  .login-box {
    width: 90%;
  }

  .mode-content {
    flex-direction: column;
  }
}
