<mat-sidenav-container ngClass.lt-md="mobile">
    <mat-sidenav-content class="content">
        <div class="container">
            <div gdAuto="column" gdAlignRows="space-between" gdAlignColumns="center center">
                <div gdAuto="column" gdGap="1rem" gdAlignRows="start start" gdAlignColumns="center center">
                    <div class="btn-container">
                        <button (click)="backTo()" mat-icon-button *ngIf="showBackBtn$ | async">
                            <mat-icon>
                                <img src="./assets/icons/arrow_back_white_24dp.svg" alt="">
                            </mat-icon>
                        </button>
                    </div>
                    <h1 class="title">
                        Melting Spectrum Reports
                    </h1>
                </div>
                <div>
                    <ng-container *ngIf="(serialPorts$ | async) as serialPorts">
                        <!-- <div gdAuto="column" gdAlignColumns="center center">
                            <div class="m-r-10">Serial Port :</div>
                            <mat-form-field *ngIf="serialPorts.length; else noSerialPortTpl">
                                <mat-select [formControl]="serialPortCtrl" (selectionChange)="onSerialPortChange($event)">
                                    <mat-option [value]="port" *ngFor="let port of serialPorts">{{ port.path }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-icon-button (click)="onRefreshClick()" matTooltip="Refresh Ports">
                                <mat-icon>
                                    <img src="./assets/icons/refresh_white_24dp.svg" alt="">
                                </mat-icon>
                            </button>
                        </div> -->



                        <!-- MODE SELECTION DROPDOWN -->
<mat-form-field appearance="fill" class="mode-select">
  <mat-select placeholder="Select Mode" [formControl]="modeCtrl">
    <mat-option value="serial">Serial Port</mat-option>
    <mat-option value="ip">IP Address</mat-option>
  </mat-select>
</mat-form-field>

<!-- SERIAL PORT UI -->
<div *ngIf="modeCtrl.value === 'serial'">
  <ng-container *ngIf="(serialPorts$ | async) as serialPorts">
    <div gdAuto="column" gdAlignColumns="center center">
      <div class="m-r-10">Serial Port :</div>

      <mat-form-field *ngIf="serialPorts.length; else noSerialPortTpl">
        <mat-select [formControl]="serialPortCtrl" (selectionChange)="onSerialPortChange($event)">
          <mat-option [value]="port" *ngFor="let port of serialPorts">{{ port.path }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button (click)="onRefreshClick()" matTooltip="Refresh Ports">
        <mat-icon><img src="./assets/icons/refresh_white_24dp.svg"></mat-icon>
      </button>
    </div>
  </ng-container>
</div>

<!-- IP MODE UI -->
<div *ngIf="modeCtrl.value === 'ip'">
  <div gdAuto="column" gdAlignColumns="center center">
    <div class="m-r-10">IP Address :</div>

    <mat-form-field appearance="fill">
      <input matInput placeholder="Enter IP (ex: 192.168.1.20)"
             [formControl]="ipAddressCtrl">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onConnectIP()">
      Connect
    </button>
  </div>
</div>

                    </ng-container>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #noSerialPortTpl>
    No Serial Ports found
</ng-template>