<!-- ================= HEADER ================= -->
<div class="app-header">

  <div class="header-row">

    <div class="title-section">
      <!-- <div class="btn-container">
        <button
          (click)="backTo()"
          mat-icon-button
          *ngIf="showBackBtn$ | async">
          <mat-icon>
            <img src="./assets/icons/arrow_back_white_24dp.svg" />
          </mat-icon>
        </button>
      </div> -->

      <img
        src="./assets/icons/ChatGPT_Image_Dec_16__2025__10_13_30_AM-removebg-preview.png"
        class="app-logo"
        alt="Acceedo Melt Pro" />
    </div>

    <div class="right-section">

      <ng-container
        *ngIf="(selectedPortInfo$ | async) || (selectedIP$ | async); else noneSelected">


        <!-- <div *ngIf="selectedPortInfo$ | async as selPort">
          {{ selPort?.path }}
        </div>

        <div *ngIf="selectedIP$ | async as selIP" class="header-icon">
          <span class="live" >🟢</span>
          {{ formatIPForDisplay(selIP) }}
        </div> -->


        <div *ngIf="(selectedIP$ | async) as selIP; else serial">
  <span class="live">🟢</span>
  {{ formatIPForDisplay(selIP) }}
</div>

<ng-template #serial>
  <div *ngIf="selectedPortInfo$ | async as selPort">
    {{ selPort?.path }}
  </div>
</ng-template>




      </ng-container>

      <ng-template #noneSelected>
        <img src="./assets/icons/cloud-computing.png" alt="Help" class="notification-icon  offline" >

        <div class="usage-none">No Serial or IP Selected</div>
      </ng-template>

      <img
        src="./assets/icons/notification.png"
        class="notification-icon" />

    </div>
  </div>
</div>


<!-- ================= BODY ================= -->
<mat-sidenav-container class="body-container">

  <!-- SIDENAV -->
  <mat-sidenav
    mode="side"
    opened
    class="side-nav">



    <div
  class="nav-item"
  routerLink="/home"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }">

  <img src="./assets/icons/home-button.png" />
  <span class="nav-text">Home</span>
</div>

<div
  class="nav-item"
  routerLink="/settings"
  routerLinkActive="active">

  <img src="./assets/icons/settings.png" />
  <span class="nav-text">Settings</span>
</div>

<div
  class="nav-item"
  routerLink="/calendar"
  routerLinkActive="active">

  <img src="./assets/icons/calendar.png" />
  <span class="nav-text">Calendar</span>
</div>


  </mat-sidenav>

  <!-- CONTENT -->
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
