<mat-sidenav-container ngClass.lt-md="mobile">
    <mat-sidenav-content class="content">
        <div class="container">
        
                   <div class="header-row">
  
  <!-- LEFT SIDE -->
  <div class="title-section">
    <div class="btn-container">
      <button (click)="backTo()" mat-icon-button *ngIf="showBackBtn$ | async">
        <mat-icon>
          <img src="./assets/icons/arrow_back_white_24dp.svg" alt="">
        </mat-icon>
      </button>
    </div>

    <h1 class="title">Melting Spectrum Reports</h1>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right-section">
    
    <button class="settings-btn" (click)="settings()">
      Settings
    </button>
     <!-- <div class="btn-container">
         <button mat-icon-button class="settings-icon-btn" (click)="settings()">
      <mat-icon>
          <img src="./assets/icons/system-code-icon-svg-download-png-8384832.png" alt="">
      </mat-icon>
    </button>
     </div> -->
 

    <!-- SERIAL/IP INFO -->
    <div class="usage-info" *ngIf="(selectedPortInfo$ | async) || (selectedIP$ | async); else noneSelected">
      <div *ngIf="selectedPortInfo$ | async as selPort">
        Serial: {{ selPort?.path }}
      </div>

      <div *ngIf="selectedIP$ | async as selIP">
        IP: {{ selIP }}
      </div>
    </div>

    <ng-template #noneSelected>
      <div class="usage-none">
        No Serial or IP Selected
      </div>
    </ng-template>

  </div>
</div>





               
                <div>
                 
      
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #noSerialPortTpl>
    No Serial Ports found
</ng-template>