:host {}

/* =========================
   HEADER
========================= */

.header {
  margin-bottom: 1rem;
}

.header-label {
  color: var(--text-muted);
}

.title {
  margin-bottom: 10px;
  color: var(--text-main);
}

/* =========================
   RESULT TABLE
========================= */

.result-table {
  margin-bottom: 1rem;
}

/* =========================
   TABLE CELLS
========================= */

.cell {
  padding: 3px 1rem;
  text-align: center;
  color: var(--text-main);

  &.value {
    font-weight: bold;
  }

  &.l-1 {
    border-left: 1px solid var(--border-color);
  }

  &.t-1 {
    border-top: 1px solid var(--border-color);
  }

  &.r-1 {
    border-right: 1px solid var(--border-color);
  }

  &.b-1 {
    border-bottom: 1px solid var(--border-color);
  }

  &.r-2 {
    border-right: 2px solid var(--border-color);
  }
}

/* =========================
   SEND BUTTON STATES
========================= */

.send-enabled {
  background-color: #138a44 !important; /* success green */
  color: #ffffff !important;
}

.send-disabled {
  background-color: var(--border-color) !important;
  color: var(--text-muted) !important;
  opacity: 0.6;
}



.save-btn {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.25s ease;
}

.save-btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.save-btn:hover {
  background: #43a047;
  box-shadow: 0 6px 14px rgba(76, 175, 80, 0.35);
}

.save-btn:active {
  transform: scale(0.96);
}

.save-btn:disabled {
  background: #666;
  cursor: not-allowed;
}


.save-btn2 {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.25s ease;
 
}

.save-btn2 img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.save-btn2:hover {
  background: #43a047;
  box-shadow: 0 6px 14px rgba(76, 175, 80, 0.35);
}

.save-btn2:active {
  transform: scale(0.96);
}

.save-btn2:disabled {
  background: #666;
  cursor: not-allowed;
}