
:root {
  --bg-main: #f5f6f8;
  --bg-card: #ffffff;
  --bg-header: #ffffff;

 --text-main: #000000;     
  --text-muted: #252525;   

  --border-color: #dcdcdc;
  --accent: #62a4f0;

  --scrollbar-thumb: #b0b0b0;
}

body.dark-theme {
  --bg-main: #121212;
  --bg-card: #1e1e1e;
  --bg-header: linear-gradient(145deg, #1c1c1c, #242424);

  --text-main: #ffffff;
  --text-muted: #bdbdbd;

  --border-color: #333;
  --accent: #4a90e2;

  --scrollbar-thumb: #909090;
}



html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;

  background: var(--bg-main);
  color: var(--text-main);
}



mat-sidenav-container,
mat-sidenav-content {
  background: transparent !important;
}


.container {
  height: calc(100% - 55px);
  background: transparent;
}



::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--scrollbar-thumb);
}


.text-muted {
  color: var(--text-muted);
}

.bg-card {
  background: var(--bg-card);
}

.border-default {
  border: 1px solid var(--border-color);
}
