.content {
    height: calc(100% - 50px);
}

.directory{
    width: 420px;
}

.file-card{
    height: 94px;
    width: 75px;
}

.file-container{
    cursor: pointer;
    // background: #525252;
    border: 1px solid #b3b3b3;
    padding: 5px;
    border-radius: 6px;
    position: relative;
    .new-tag{
        top: 6px;
        position: absolute;
        right: 6px;
        background: green;
        padding: 5px 7px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: ce;
        line-height: 9px;
    }
    &.new{
        border: 2px solid #29e36e;
    }
}

.file-date{
    color: darkgray;
}

.file-name{
    margin-bottom: 5px;
}

.files{
    row-gap: 25px;
    column-gap: 1rem;
    justify-items: center;
    padding: 1rem;
    padding-top: 0;
}

.files-area{
    border: 1px solid darkgray;
    padding: 1rem;
    overflow: auto;
    position: relative;
    height: calc(100% - 82px);
    padding: 0;
}

.search-input {
    position: sticky;
    top: 0;
    background: #303030;
    z-index: 1;
    padding: 10px 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 1rem;
}

.msg-container{
    text-align: center;
    height: calc(100% - 72px);
    justify-content: center;
    align-items: center;
    display: flex;

    &.error{
        color: #ff7c7c;
    }
}

.file-name{
    text-align: center;
    word-break: break-all;
}

.custom-input{
    background: rgba(255, 255, 255, 0.12);
    // box-shadow: 0 0 1px 1px white;
    border: none;
    height: 34px;
    width: 400px;
    color: white;
    padding: 0 5px;
    font-size: 16px;
    padding-right: 32px;
    &:focus{
        outline: none;
        box-shadow: 0 0 1px 1px  #00b8ff;
    }
    caret-color:  #00b8ff;
}

.input-container{
    position: relative;
    .input-addon{
        position: absolute;
        right: 0;
        width: 32px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.m-b-10{
    margin-bottom: 10px;
}

.sort-by-chip{
    background: rgba(255, 255, 255, 0.12);
    padding: 6px 14px;
    padding-right: 30px;
    border-radius: 12px;
    // font-size: 13px;
    position: relative;
    cursor: pointer;
    .arrow{
        position: absolute;
        right: 7px;
        border: 7px solid transparent;
        border-top-color: rgba(255, 255, 255);
        top: 11px;
    }
}

.active{
    background-color: rgba(255, 255, 255, 0.12);
}