<div class="content">


  <div class="files-area">
    <ng-container *ngIf="filteredFiles$ | async as files">
      <ng-container *ngIf="!errMsg; else errMsgTpl">
        <ng-container *ngIf="filesLoaded$ | async; else enterDirectoryTpl">
          <div>

              <div class="search-input" fxLayoutAlign="start" fxLayoutGap="1rem">
            <!-- <div class="input-container search-ctrl">
              <input [value]="(fileSearch$ | async)" (input)="onFileSearchInput($event.target)" placeholder="Search Files" #fileSearch id="search-directory" type=" text" class="custom-input">
              <div class="input-addon" *ngIf="fileSearch.value" (click)="clearInput(fileSearch); resetFileSearch()">
                <mat-icon>
                  <img src="./assets/icons/clear_white_24dp.svg" alt="">
                </mat-icon>
              </div>
            </div> -->
            


  



  <div fxFlex></div>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1rem">

    <!-- <div class="date-filter">
      <input
        type="date"
        #dateInput
        class="date-input"
        (change)="onNormalDateSelect($event)"
      />

 <button 
    mat-icon-button
    class="reset-btn"
    *ngIf="selectedDate$ | async"
    (click)="resetDate(dateInput)">
    <mat-icon>
      <img src="./assets/icons/clear_white_24dp.svg" alt="">
    </mat-icon>
  </button>

    </div> -->


    <div fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="sort-by-chip" [matMenuTriggerFor]="furnaceMenu">
    <span>
      {{
        (selectedFurnace$ | async) === 'all'
          ? 'All Furnaces'
          : (selectedFurnace$ | async)
      }}
    </span>
    <i class="arrow"></i>
  </div>

  <mat-menu #furnaceMenu="matMenu">
    <button mat-menu-item (click)="setFurnace('all')">
      All Furnaces
    </button>

    <button
      mat-menu-item
      *ngFor="let f of furnaceOptions$ | async"
      (click)="setFurnace(f)">
      {{ f }}
    </button>
  </mat-menu>
</div>


   <div fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="sort-by-chip"
       [matMenuTriggerFor]="statusMenu">
    <span>{{ statusInfo[(status$ | async)]?.text }}</span>
    <i class="arrow"></i>
  </div>

  <mat-menu #statusMenu="matMenu">
    <button mat-menu-item (click)="setStatus('all')">All Status</button>
    <button mat-menu-item (click)="setStatus('sent-data')">Sent Data</button>
    <button mat-menu-item (click)="setStatus('no-wifi')">No Wi-Fi</button>
    <button mat-menu-item (click)="setStatus('no-response')">No Response</button>
  </mat-menu>
</div>

    <div fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="sort-by-chip" [matMenuTriggerFor]="sortMenu">
        <span>{{ (activeSort$ | async).name }}</span>
        <i class="arrow"></i>
      </div>
    </div>

  </div>



          </div>
            <div class="files"
     *ngIf="files?.length; else noFileFoundTpl"
    >

  <div
    *ngFor="let file of files; trackBy: trackByFileName"
    class="file-container mat-elevation-z2"
    matRipple
    (click)="onFileClick(file)"
    [class.new]="file.new"
    [ngClass]="statusMap[file.name]">

   

   
  <div class="file-name" *ngIf="getFileMeta(file) as meta" > {{ formatFurnaceName(meta.stage) }}</div>
  <div class="file-date">{{ file.info?.birthtime | date:'dd/MM/yy, h:mm a' }}</div>

<!-- XML / CSV -->
<div class="file-meta" *ngIf="getFileMeta(file) as meta">
  <div><span>Heat No</span> {{ meta.heatNo }}</div>
  <div><span>Grade</span> {{ meta.grade }}</div>
  <div><span>Part</span> {{ meta.partName }}</div>
</div>

<!-- PDF -->
<div class="file-meta pdf-meta" *ngIf="getPdfHeader(file) as pdf">
  <div><span>CMM No</span> {{ pdf.cmmNo }}</div>
  <div><span>Part Ident</span> {{ pdf.partIdent }}</div>
  <div><span>Drawing No</span> {{ pdf.drawingNumber }}</div>
  <div><span>Customer</span> {{ pdf.customerName }}</div>
  <div><span>Part Name</span> {{ pdf.partName }}</div>
</div>






<div
  *ngIf="getStatus(file) as status"
  class="status-tag"
  [ngClass]="status">

  <img
    [src]="getStatusIcon(status)"
    class="status-icon"
    [alt]="status" />

</div>





    <div *ngIf = "file.new" class="status-tag"  > <img  src="assets/icons/new.png"   class="status-icon"        alt="new"  /> </div>

    <div class="view-more" >
  View more
</div>


  </div>
</div>



   
          </div>
        

   

        </ng-container>
      </ng-container>

    </ng-container>

    <ng-template #enterDirectoryTpl>
      <div *ngIf="!directoryCtrl.value; else loadingTpl" class="msg-container">
        Enter a directory and click Show Files button.
      </div>
    </ng-template>
    <ng-template #errMsgTpl>
      <div class="msg-container error">
        * {{ errMsg }} 
      </div>
    </ng-template>
    <ng-template #noFileFoundTpl>
      <div class="msg-container">
        No Files Found.
      </div>
    </ng-template>
    <ng-template #loadingTpl>
      <div class="msg-container">
        Loading ....
      </div>
    </ng-template>
  </div>
</div>

<mat-menu #sortMenu="matMenu">
    <button (click)="setActiveSort(sort)" *ngFor="let sort of sortOptions$ | async" [class.active]="sort === (activeSort$ | async)" mat-menu-item>{{ sort.name }}</button>
</mat-menu>
