<div class="content">


  <div class="files-area">
    <ng-container *ngIf="filteredFiles$ | async as files">
      <ng-container *ngIf="!errMsg; else errMsgTpl">
        <ng-container *ngIf="filesLoaded$ | async; else enterDirectoryTpl">
          <div>

              <div class="search-input" fxLayoutAlign="start" fxLayoutGap="1rem">
            <div class="input-container search-ctrl">
              <input [value]="(fileSearch$ | async)" (input)="onFileSearchInput($event.target)" placeholder="Search Files" #fileSearch id="search-directory" type=" text" class="custom-input">
              <div class="input-addon" *ngIf="fileSearch.value" (click)="clearInput(fileSearch); resetFileSearch()">
                <mat-icon>
                  <img src="./assets/icons/clear_white_24dp.svg" alt="">
                </mat-icon>
              </div>
            </div>
            


  



  <div fxFlex></div>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1rem">

    <div class="date-filter">
      <input
        type="date"
        #dateInput
        class="date-input"
        (change)="onNormalDateSelect($event)"
      />

 <button 
    mat-icon-button
    class="reset-btn"
    *ngIf="selectedDate$ | async"
    (click)="resetDate(dateInput)">
    <mat-icon>
      <img src="./assets/icons/clear_white_24dp.svg" alt="">
    </mat-icon>
  </button>

    </div>

   <div fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="sort-by-chip"
       [matMenuTriggerFor]="statusMenu">
    <span>{{ statusInfo[(status$ | async)]?.text }}</span>
    <i class="arrow"></i>
  </div>

  <mat-menu #statusMenu="matMenu">
    <button mat-menu-item (click)="setStatus('all')">All Status</button>
    <button mat-menu-item (click)="setStatus('sent-data')">Sent Data</button>
    <button mat-menu-item (click)="setStatus('no-wifi')">No Wi-Fi</button>
    <button mat-menu-item (click)="setStatus('no-response')">No Response</button>
  </mat-menu>
</div>

    <div fxLayoutAlign="center center" fxLayoutGap="10px">
      <div class="sort-by-chip" [matMenuTriggerFor]="sortMenu">
        <span>{{ (activeSort$ | async).name }}</span>
        <i class="arrow"></i>
      </div>
    </div>

  </div>



          </div>
            <div class="files" *ngIf="files?.length; else noFileFoundTpl" gdColumns="repeat(auto-fit, minmax(150px, 155px))">
             <div 
  (click)="onFileClick(file)"
  gdAlignRows="center center"
  gdAlignColumns="center center"
  class="file-container mat-elevation-z2"
  matRipple
  *ngFor="let file of files; trackBy: trackByFileName"
  [class.new]="file.new"
  [ngClass]="statusMap[file.name]"
>
                <div class="file-card" fxLayoutAlign="center center">
                  <img src="./assets/icons/xml.svg" alt="" height="72px" width="72px">
                </div>
                <div class="file-name">
                  {{ file.name }}
                </div>
                <div class="file-date">
                  {{ file.info?.birthtime | date: 'dd/MM/yy, h:mm a' }}
                </div>




<!-- Actual Status -->
<div *ngIf="getStatus(file) as status">
  <div class="status-tag"  [ngClass]="status" >
    {{
      status === 'sent-data'   ? 'Sent' :
      status === 'no-wifi'     ? 'No WiFi' :
      status === 'no-response' ? 'No Response' :
      ''
    }}
  </div>
</div>





                <div *ngIf="file.new" class="new-tag">new</div>
              </div>
           
            </div>


   
          </div>
        

   

        </ng-container>
      </ng-container>

    </ng-container>

    <ng-template #enterDirectoryTpl>
      <div *ngIf="!directoryCtrl.value; else loadingTpl" class="msg-container">
        Enter a directory and click Show Files button.
      </div>
    </ng-template>
    <ng-template #errMsgTpl>
      <div class="msg-container error">
        * {{ errMsg }} 
      </div>
    </ng-template>
    <ng-template #noFileFoundTpl>
      <div class="msg-container">
        No Files Found.
      </div>
    </ng-template>
    <ng-template #loadingTpl>
      <div class="msg-container">
        Loading ....
      </div>
    </ng-template>
  </div>
</div>

<mat-menu #sortMenu="matMenu">
    <button (click)="setActiveSort(sort)" *ngFor="let sort of sortOptions$ | async" [class.active]="sort === (activeSort$ | async)" mat-menu-item>{{ sort.name }}</button>
</mat-menu>
